{% load static %}
<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TodoList</title>
    </head>

    <body>

        <header>
            <nav>
              <ul>
                <li><a link href="{% url 'form_view' %}">Adicionar Tarefas</a></li>
              </ul>
            </nav>
          </header>
        <center>
        <h1> T A R E F A S</h1>
        </center>
        <br>

        <input type="button" value="Enviar" />

        <main>
            {% block content %}{% endblock %}
          </main>
    
          <footer>
            <p>&copy; 2024 TWT Multimarcas</p>
          </footer>

          
    </body>

    


</html>
