{% extends "base.html" %}
{% block content %}


  <div class="tarefa-grid">
    {% if all_list %}
      {% for tarefas in all_list %}
        <div class="list-card">
          <br> <br> <br> 
          <h2>{{ tarefas.Name }}</h2> <br>
          <hr>
          <h2>Descrição</h2>
          <h4> <br> {{ tarefas.Description }}</h4>
          <p>
            <h3>Criado em:</h3>{{ tarefas.Create_At }}<br> 
            <h3>Prazo de:</h3>{{ tarefas.Deadline }} {{ tarefas.TimeScale }}</h3>
          </p>
          <form method="POST" action="{% url 'delete_task' tarefas.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="delete-button" onclick="return confirm('Tem certeza de que deseja excluir esta tarefa?');">Excluir</button>
        </form>
        </div>
      {% endfor %}
    {% else %}
      <p class="no-results">Nenhuma tarefa encontrada.</p>
    {% endif %}
  </div>
{% endblock content %}
